*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo{
    width: 10%;
}

header{
    margin-bottom: 10%;
}

header a:hover{
    text-decoration: underline;
}

@media(max-width:991px){
    .sidebar{
        background-color: white;
        backdrop-filter:blur(10px) ;
    }
}



